---
import type { HTMLAttributes } from 'astro/types';
type Props = HTMLAttributes<"a">
const props = Astro.props;
---

<a {...props} target="_blank" rel="noopener noreferrer" class="ease-in-out duration-300 text-celestial-white hover:bg-cosmic-silver/20  hover:text-[#0a71eb] flex justify-center items-center w-10 h-10 rounded-full">
  <slot />
</a>