---
import type { HTMLAttributes } from 'astro/types';
type Props = HTMLAttributes<"a">
const props = Astro.props;
---

<a {...props} target="_blank" rel="noopener noreferrer" class="hover:bg-cosmic-silver bg-cosmic-silver/25 flex justify-center items-center w-10 h-10 rounded-full">
  <slot />
</a>