---
import ExperienceCard from "@components/ExperienceCard.astro";
import type { Experiences } from "../types";

type Props = {
  experiences: Experiences[];
};

const { experiences } = Astro.props;
---

<ul class="relative">
  <div class="absolute w-full h-full border-l-2 border-cosmic-silver">
    <img class="relative -left-2.5 w-5 h-5 top-1 -rotate-45" src="/rocket.svg" />
  </div>
  {
    experiences.map((exp) => (
      <li class="my-5">
        <h2 class="text-aurora-blue font-bold pl-4 mb-3 text-lg">{exp.period}</h2>
        <ul class="relative flex flex-col gap-4 pl-4">
          {exp.experiences.map((el) => (
            <li class={`relative`}>
              <img src={el.icon} class="absolute w-5 h-5 -left-6 top-4" />
              <ExperienceCard {...el} />
            </li>
          ))}
        </ul>
      </li>
    ))
  }
</ul>
